body {
    background-color: #A8DADC;
    color: #1D3557;
    font-family: sans-serif;
  }
main {
    background-color: saddlebrown;
    color: gainsboro;
}
@media screen and (min-width: 750px){
    body {
        background-color: #457B9D;
        color: #F1FAEE;
        font-family: 'Times New Roman', Times, serif;
    }

}
/* this is the new code added for formatting the header with the logos */
header {
    background-image: url('../images/LogoSmall.png');
    min-height: 50px;
    background-position: right top; 
    background-repeat: no-repeat; 
    background-color: #E63946;
    color: #F1FAEE;
}
/* defines rules for large screens */
@media (min-width: 769px) {
    header {
        background-image: url('../images/LogoLarge.png'); 
        min-height: 100px;
        background-color: #E63; 
    }
}
/* adds rules for the hero images of each page */
.hero-image {
    width: 100%;          
    height: auto;     
    max-width: 100%;     
    display: block; 
}   
a {
 color: #1D3557;
}  
h1, h2, h3 {
 color: #F1FAEE;  
}
aside {
    background-color: #457B9D;
    color: #F1FAEE;
}
/* Color Palette Choices
 * Palette Source: Coolors.co
 * 
 * Colors used:
 * Dark Blue (#1D3557) - used for text on light backgrounds for good readability.
 * Sky Blue (#457B9D) - used for the aside background providing good contrast and one of my favorite colors.
 * Light Blue (#A8DADC) - background for the body, soft color and provided a good contrast.
 * Coral (#E63946) - vibrant header color to catch attention.
 * Warm Beige (#F1FAEE) - used for text on darker backgrounds to ensure readability.
 *
 * Contrast Ratios:
 * - Dark Blue on Light Blue: 5.68:1 (Excellent)
 * - Warm Beige on Coral: 4.79:1 (Good)
 * - Warm Beige on Sky Blue: 4.67:1 (Good)
 */
 /* Remove bullets from the unordered list */
 ul {
    list-style-type: none;
    padding-left: 0;
 }
 /* Style list items */
 li {
    font-size: 1.25em; /* Makes list items larger */
}
/* Style description terms and descriptions */
dt {
    font-weight: bold; /* Makes description terms bold */
}

dd {
    font-style: italic; /* Makes descriptions italic */
}